<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">

    <title>The Book Club</title>
</head>

<body>
        <div class="hero-message">
            <h1 class="hero-title">The Book Club</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md">
                            <form action="/" href="{{ url_for('index') }}" method="POST" style=" padding: 1%;">
                                <div class="form-group">
                                    <label>Username:</label>
                                    <input type="text" name="regusername" placeholder="Enter Desired Username">
                                </div>
                                <div class="form-group">
                                    <label>Password:</label>
                                    <input type="password" name="regpassword" placeholder="Enter Desired Password">
                                </div>
                                <div class="form-group">
                                    <label>Password Again:</label>
                                    <input type="password" name="regpassword2" placeholder="Enter Desired Password Again">
                                </div>
                                <div class="form-group">
                                    <label>Email Adress:</label>
                                    <input type="text" name="regemail" placeholder="Enter Email Adress">
                                </div>
                                <button class="button" type="submit"><span>Register</span></button>
                            </form>
                </div>
                <div class="col-md">
                        <form action="/signin" href="{{ url_for('dashboard') }}" method="POST" style="margin: 1%; padding: 1%;">
                            <div class="form-group">
                                <label>Username:</label>
                                <input type="text" name="username" placeholder="Enter Your Username">
                            </div>
                            <div class="form-group">
                                <label>Password:</label>
                                <input type="password" name="password" placeholder="Enter Your Password">
                            </div>

                            <button class="button" type="submit"><span>Sign In</span></button>
                        </form>
                </div>
            </div>
        </div>
</body>

</html>